@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500&family=Barlow:wght@400;500;600;700&family=Open+Sans:wght@400;600&display=swap');

:root {
    --font-color-principal: #FEFEFE;
    --font-bg-green: #54A16A;
    --font-color-black: #333333;
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-600: 600;
    --font-weight-700: 700;
}

* {
    font-family: 'Barlow Condensed', 'Barlow', 'Open Sans';
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

.menu_mobile {
    display: none;
}

.menu_mobile_open {
    display: none;
}

.menu_mobile_close {
    display: none;
}

/*Menu*/
header {
    width: 100%;
    height: 100px;
    position: relative;
    z-index: 1;
    background-color: #EEEEEE;
}

.menu {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.menu_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    padding: 0px 30px;
}

.area_menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

nav ul {
    display: flex;
    gap: 20px;
    padding: 0px;
    margin: 0px;
}

nav ul li {
    font-weight: var(--font-weight-400);
    font-size: 26px;
    color: #06575C;
    list-style: none;
}

/*Container Beltsys*/
.container_beltsys {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background: linear-gradient(146.25deg, #01565B 16%, #2C99A3 131.9%);
    padding: 50px 0px 0px 0px;
    gap: 30px;
}

.container_beltsys svg {
    max-width: 830px;
    width: 100%;
    margin-bottom: -90px;
    z-index: 0;
    position: relative;
}

.container_beltsys_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1440px;
}

.area_beltsys {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.title_beltsys {
    max-width: 250px;
}

.title_beltsys h2 {
    font-family: 'Barlow Condensed';
    font-weight: var(--font-weight-500);
    font-size: 160px;
    line-height: 75%;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    margin: 0px;
}

.sub_title_beltsys {
    max-width: 512px;
}

.sub_title_beltsys p {
    font-family: 'Open Sans';
    font-weight: var(--font-weight-400);
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    margin: 0px;
}

/*footer*/

footer {
    width: 100%;
    background: #54A16A;
    padding: 20px 0px;
    position: relative;
}

.container_footer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.container_footer_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    padding: 0px 30px;
}

.area_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.area_footer nav ul li {
    color: #ffffff;
}