@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500&family=Barlow:wght@400;500;600;700&family=Open+Sans:wght@400;600&display=swap');

:root {
    --font-color-principal: #FEFEFE;
    --font-bg-green: #54A16A;
    --font-color-black: #333333;
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-600: 600;
    --font-weight-700: 700;
}

* {
    font-family: 'Barlow Condensed', 'Barlow', 'Open Sans';
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0px;
    background: linear-gradient(146.25deg, #01565B 16%, #2C99A3 131.9%);
}

a {
    text-decoration: none;
}

.area {
    height: 1000px;
    background: linear-gradient(146.25deg, #01565B 16%, #2C99A3 131.9%);
}

.menu_mobile {
    display: none;
}

.menu_mobile_open {
    display: none;
}

.menu_mobile_close {
    display: none;
}

[data-animation] {
    opacity: 0;
    transition: all 400ms ease-in !important;
}

[data-animation-top] {
    -webkit-transform: translateY(20px) scaleY(1.2) !important;
    -ms-transform: translateY(20px) scaleY(1.2) !important;
    transform: translateY(20px) scaleY(1.2) !important;
    opacity: 0;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    -o-transition-property: transform, opacity;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
}

[data-delay-1] {
    transition-delay: 200ms !important;
}

[data-delay-2] {
    transition-delay: 400ms !important;
}

[data-delay-3] {
    transition-delay: 600ms !important;
}

[data-delay-4] {
    transition-delay: 800ms !important;
}

[data-delay-5] {
    transition-delay: 1000ms !important;
}

[data-animation="down"] {
    transform: translate3d(0, 20px, 0);
}

[data-animation="left"] {
    transform: translate3d(-20px, 0, 0);
}

[data-animation="right"] {
    transform: translate3d(20px, 0, 0);
}

[data-animation].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate(0) scaleY(1) !important;
    -ms-transform: translate(0) scaleY(1) !important;
    transform: translate(0) scaleY(1) !important;
}

.line_menu.active {
    width: 100%;
    height: 4px;
    background-color: #06575C;
}

@keyframes moveTop {
    from {
        transform: translate3d(0px, 0px, 0px);
    }

    to {
        transform: translate3d(0px, 10px, 10px);
    }

}

@keyframes moveBlock {
    from {
        transform: translate3d(0px, 0px, 0px);
    }

    to {
        transform: translate3d(10px, 5px, 10px);
    }

}

.move_top {
    animation: moveTop 1s ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.move_top_2 {
    animation: moveTop 0.8s ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.move_block {
    animation: moveBlock 1.2s ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.move_block_2 {
    animation: moveBlock 1s ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/*Menu*/
header {
    width: 100%;
    height: 100px;
    position: relative;
    z-index: 1;
    background-color: #EEEEEE;
}

.menu {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.menu_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    padding: 0px 30px;
}

.area_menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

nav ul {
    display: flex;
    gap: 20px;
    padding: 0px;
    margin: 0px;
}

nav ul li {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: var(--font-weight-400);
    font-size: 26px;
    color: #06575C;
    list-style: none;
}

nav ul li:hover .line_menu {
    width: 100%;
    height: 4px;
    background-color: #06575C;
}

.line_menu {
    width: 0%;
    height: 4px;
    background-color: #06575C;
    transition: all ease 300ms;
}

/*footer*/

footer {
    width: 100%;
    background: #54A16A;
    padding: 20px 0px;
    position: relative;
}

.container_footer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.container_footer_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    padding: 0px 30px;
}

.area_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.area_footer nav ul li {
    color: #ffffff;
}

@media(min-width: 2000px) {
    .area {
        height: 87.2vh;
        background: linear-gradient(146.25deg, #01565B 16%, #2C99A3 131.9%);
    }
}

@media(max-width: 1024px) {

    .menu_desktop {
        display: none;
    }

    .in {
        display: none;
    }

    .menu_mobile_open {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 8px;

    }

    .menu_mobile nav ul a li:hover {
        color: #06575C;
    }

    @keyframes move {
        0% {
            top: -500%;

        }

        100% {
            top: 100px;
        }

    }

    .menu_mobile_close {
        display: none;
        align-items: center;
        flex-direction: column;
        gap: 8px;
        position: absolute;
        right: 40px;
    }

    .line_1_mobile {
        transform: rotate(130deg);
        position: absolute;
    }

    .line_2_mobile {
        position: absolute;
        transform: rotate(50deg);
    }

    .menu_mobile_close div {
        width: 40px;
        height: 4px;
        border-radius: 100px;
        background: #06575C;
        box-shadow: 4px 2px 4px rgb(0 0 0 / 40%);
    }


    .menu_mobile_open div {
        width: 40px;
        height: 4px;
        border-radius: 100px;
        background: #06575C;
        box-shadow: 4px 2px 4px rgb(0 0 0 / 40%);
    }

    .menu_mobile {
        transition: all ease-in 400ms;
        display: none;
        width: 100%;
        position: absolute;
        justify-content: center;
        text-align: center;
        top: 100px;
        left: 0px;
        background-color: #EEEEEE;
        box-shadow: 0px 4px 43px rgba(255, 255, 255, 0.36);
        z-index: 10;
        padding: 40px 0px 40px 0px;
    }

    .menu_mobile nav ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 15px;
    }

    .menu_mobile nav ul li a {
        font-size: 18px;
    }

    /*footer*/
    .area_footer {
        flex-direction: column;
        gap: 20px;
    }

    nav ul {
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 10px;
    }

    nav ul li {
        font-size: 22px;
    }


}